@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* font family */
  --font-vazir: var(--font-vazir);
  /* font size */
  /* heading */
  --text-tiny: 0.625rem;
  --text-h1: 2rem;
  --text-h2: 1.75rem;
  --text-h3: 1.5rem;
  /* display */
  --text-D1: 3.5rem;
  --text-D2: 2.8rem;
  --text-D3: 2.25rem;
  /* title */
  --text-T1: 1.3rem;
  --text-T2: 1rem;
  --text-T3: 0.87rem;
  /* label */
  --text-L1: 0.87rem;
  --text-L2: 0.75rem;
  --text-L3: 0.68rem;
  /* body */
  --text-B1: 1.25rem;
  --text-B2: 1rem;
  --text-B3: 0.87rem;
  --text-B4: 0.75rem;
  --text-B5: 0.625rem;
  --color-mint-500: oklch(0.72 0.11 178);
  /* colors */ /* primary */
  --color-primary-50: rgb(233, 241, 240);
  --color-primery-100: rgb(186, 211, 208);
  --color-primary-200: rgb(152, 190, 186);
  --color-primary-300: rgb(105, 160, 154);
  --color-primary-400: rgb(76, 141, 134);
  --color-primary-500: rgb(31, 113, 104);
  --color-primary-600: rgb(28, 103, 95);
  --color-primary-700: rgb(22, 80, 74);
  --color-primary-800: rgb(17, 62, 57);
  --color-primary-900: rgb(13, 47, 44);
  /* secondary */
  --color-secondary-50: rgb(255, 247, 236);
  --color-secondary-100: rgb(255, 231, 196);
  --color-secondary-200: rgb(255, 220, 168);
  --color-secondary-300: rgb(255, 204, 128);
  --color-secondary-400: rgb(255, 194, 104);
  --color-secondary-500: rgb(255, 179, 66);
  --color-secondary-600: rgb(232, 163, 60);
  --color-secondary-700: rgb(181, 127, 47);
  --color-secondary-800: rgb(140, 98, 36);
  --color-secondary-900: rgb(107, 75, 28);
  /* Accent */
  --color-Accent-50: rgb(255, 252, 248);
  --color-Accent-100: rgb(255, 247, 234);
  --color-Accent-200: rgb(255, 243, 224);
  --color-Accent-300: rgb(255, 237, 210);
  --color-Accent-400: rgb(255, 233, 201);
  --color-Accent-500: rgb(255, 228, 188);
  --color-Accent-600: rgb(232, 207, 171);
  --color-Accent-700: rgb(181, 162, 133);
  --color-Accent-800: rgb(140, 125, 103);
  --color-Accent-900: rgb(107, 96, 79);
  /* White */
  --color-White-50: rgb(254, 254, 254);
  --color-White-100: rgb(253, 253, 253);
  --color-White-200: rgb(252, 252, 252);
  --color-White-300: rgb(251, 251, 251);
  --color-White-400: rgb(250, 250, 250);
  --color-White-500: rgb(249, 249, 249);
  --color-White-600: rgb(227, 227, 227);
  --color-White-700: rgb(177, 177, 177);
  --color-White-800: rgb(137, 137, 137);
  --color-White-900: rgb(105, 105, 105);
  /* Black */
  --color-Black-50: rgb(231, 231, 231);
  --color-Black-100: rgb(182, 182, 182);
  --color-Black-200: rgb(146, 146, 146);
  --color-Black-300: rgb(96, 96, 96);
  --color-Black-400: rgb(65, 65, 65);
  --color-Black-500: rgb(18, 18, 18);
  --color-Black-600: rgb(16, 16, 16);
  --color-Black-700: rgb(13, 13, 13);
  --color-Black-800: rgb(10, 10, 10);
  --color-Black-900: rgb(8, 8, 8);
  /* Gray */
  --color-Gray-50: rgb(241, 241, 241);
  --color-Gray-100: rgb(212, 212, 212);
  --color-Gray-200: rgb(192, 192, 192);
  --color-Gray-300: rgb(163, 163, 163);
  --color-Gray-400: rgb(145, 145, 145);
  --color-Gray-500: rgb(117, 117, 117);
  --color-Gray-600: rgb(106, 106, 106);
  --color-Gray-700: rgb(83, 83, 83);
  --color-Gray-800: rgb(64, 64, 64);
  --color-Gray-900: rgb(49, 49, 49);
  /* Warning */
  --color-Warning-50: rgb(254, 249, 230);
  --color-Warning-100: rgb(252, 235, 176);
  --color-Warning-200: rgb(251, 226, 138);
  --color-Warning-300: rgb(249, 213, 84);
  --color-Warning-400: rgb(248, 205, 51);
  --color-Warning-500: rgb(246, 192, 0);
  --color-Warning-600: rgb(224, 175, 0);
  --color-Warning-700: rgb(175, 136, 0);
  --color-Warning-800: rgb(135, 106, 0);
  --color-Warning-900: rgb(103, 81, 0);
  /* Success */
  --color-Success-50: rgb(230, 245, 239);
  --color-Success-100: rgb(177, 225, 204);
  --color-Success-200: rgb(140, 210, 180);
  --color-Success-300: rgb(87, 190, 145);
  --color-Success-400: rgb(54, 177, 124);
  --color-Success-500: rgb(4, 158, 91);
  --color-Success-600: rgb(4, 144, 83);
  --color-Success-700: rgb(3, 112, 65);
  --color-Success-800: rgb(2, 87, 50);
  --color-Success-900: rgb(2, 66, 38);
  /* Error */
  --color-Error-50: rgb(249, 232, 232);
  --color-Error-100: rgb(238, 184, 184);
  --color-Error-200: rgb(229, 150, 150);
  --color-Error-300: rgb(217, 102, 102);
  --color-Error-400: rgb(210, 72, 72);
  --color-Error-500: rgb(199, 26, 26);
  --color-Error-600: rgb(181, 24, 24);
  --color-Error-700: rgb(141, 18, 18);
  --color-Error-800: rgb(109, 14, 14);
  --color-Error-900: rgb(84, 11, 11);

  /*shadcn theme  */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  /* --primary: oklch(0.205 0 0); */
  /* --primary-foreground: oklch(0.985 0 0); */
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
